body{    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 217, 217) ;
    padding: 5px;
    margin: 0;
}
/*Fin de la premiere navbar*/

.secondeNav{
    padding: 0;
    margin: 0;
}

.secondeNav ul{
    display: flex;
    text-decoration: none;
    list-style-type:none;
    justify-content: space-between;
    background-color: whitesmoke;
    color: rgb(78, 78, 78);
    padding: 0;
    margin: 0;
    padding: 15px;
    position: sticky;
}

.secondeNav li:hover{
    font-weight: 400;
    color: black;
    border-width: 100px;
}
/*Fin de la seconde navbar*/
/*
film et series = intro*/

.intro{
    background: rgb(25,25,25);
    background: radial-gradient(circle, rgba(25,25,25,1) 17%, rgba(0,0,0,1) 83%, rgba(0,0,0,1) 94%);
    padding: 25px;
}
.intro .section{
  margin-bottom: 55px;

}
.intro .section h2{
  color: #fff;
}
.intro .section .list{
  display:flex;
  overflow-y:hidden;
  overflow-x:auto;
} 

.intro .section a{
  padding-left: 50px;
  transition: transform 0.25s;
  color: #fff;
  text-decoration: none;
  list-style-type:none;
  font-size: 20px;

}
.intro .section a:hover{
  transform:scale(1.05);
}
.intro .section a img{
  height: 550px;
  border-radius: 10px;

}
/* Fin des films et séries */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: radial-gradient(circle, rgba(25,25,25,1) 17%, rgba(0,0,0,1) 83%, rgba(0,0,0,1) 94%);
    width: 10px;

  }
  
  ::-webkit-scrollbar-thumb {
    background: none ;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;

  }
    /* Fin scrollbar */

.topics h2{
    font-size: 0px;
}

.topicList{
    display: flex;
    font-size: 40px;
    justify-content:space-around;
    margin: 25px;
    box-shadow: 6px 6px 0px black;

}

.ul_Left li{
    text-decoration: none;
    list-style-type:none;
    padding: 18px;
}
.ul_Right li{
    text-decoration: none;
    list-style-type:none;
    padding: 18px;
}

.ul_Right li:hover{
    font-weight: 900;
}
.ul_Left li:hover{
    font-weight: 900;
}

    /* Fin de liste sujet populaire */

.topicsTable{
    margin-left: 75px;
    margin-right: 75px;
}

.ensembleTopic{
    border: 2px solid black;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.ensembleTopic1{
    border: 2px solid black;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0 0;
}


.titleTopic{
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 0px;
    
}

.titleTopic:hover{
    font-weight: 400;

    
}
.subtitleTopic{
    font-weight: 400;
    padding-top: 0;
}

.infoTopic{
    text-decoration: none;
    list-style-type:none;
    display: flex;
    justify-content:end;
}

.infoTopic li{
    margin-left: 15px;
    margin-right: 40px;
}

.signature{
    color: grey;
}

