body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
.title em{
    font-size: larger;
    font-weight: 800;
}
/*fin body*/


nav ul{
    display: flex;
    text-decoration: none;
    list-style-type:none;
    justify-content: space-between;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    padding: 0px;
    background-color: black;
    font-size: 14px;
}
nav li{
    display: flex;
    justify-content: space-around

}
nav li:hover{
    background-color: rgb(43, 43, 43);

}
/*Fin de la premiere navbar*/

.secondeNav{
    padding: 0;
    margin: 0;
}

.secondeNav ul{
    display: flex;
    text-decoration: none;
    list-style-type:none;
    justify-content: space-between;
    background-color: whitesmoke;
    color: rgb(53, 52, 52);
    padding: 0;
    margin: 0;
    padding: 5px;
}

.secondeNav li:hover{
    color: black;
}
/*Fin de la seconde navbar*/

.zone{
    padding: 70px;
    overflow-x: hidden;
    width: 600px;
    height:1000px;
    background-color: whitesmoke;
    border-color: rgb(201, 201, 201);
}
/*fin zone de rexte*/

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: whitesmoke;
    width: 10px;

  }
  
  ::-webkit-scrollbar-thumb {
    background: grey ;
    height: 1px;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black;

  }

  /*fin scrollbar*/

  .both{
      display: flex;
      list-style-type:none;
      text-decoration: none;
  }

  .topicsTable{
    margin-left: 75px;
    margin-right: 75px;
}

.ensembleTopic{
    border: 2px solid black;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.ensembleTopic1{
    border: 2px solid black;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0 0;
}


.titleTopic{
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 0px;
    
}

.titleTopic:hover{
    font-weight: 400;

    
}
.subtitleTopic{
    font-weight: 400;
    padding-top: 0;
}

.infoTopic{
    text-decoration: none;
    list-style-type:none;
    display: flex;
    justify-content:end;
}

.infoTopic li{
    margin-left: 15px;
    margin-right: 40px;
}

.signature{
    color: grey;
}

